@import url(http://reset5.googlecode.com/hg/reset.min.css);
html {
	background: url("../images/background.jpg") repeat scroll 0 0 transparent;
}
#content {
	font-family: 'Ubuntu Condensed', sans-serif;
	width: 980px;
	margin-top: 200px;
	height: auto;
	border: 2px solid #b6bbbe;
	box-shadow: 3px 3px 1px #b6bbbe;
	/*-moz-border-radius-bottomright: 50px 25px;
	 -moz-border-radius-bottomleft: 50px 25px;
	 -moz-border-radius-topleft: 50px 25px;
	 -moz-border-radius-topright: 50px 25px;
	 border-bottom-right-radius: 50px 25px;
	 border-bottom-left-radius: 50px 25px;
	 border-top-left-radius: 50px 25px;
	 border-top-right-radius: 50px 25px;
	 background-color: #d5edca;*/
}
a{
	text-decoration: none;
}
a:hover {
	color:#0099FF;
}
#page {

	font-family: 'Satisfy', cursive;
	width: 980px;
	margin: 0 auto;
	background: white;
	height: auto;
	font-size: 40px;
	margin: 50px auto 50px auto;
	padding-left: 50px;
	padding-top: 50px;
	padding-right: 50px;
	padding-bottom: 50px;
	-moz-box-shadow: 3px 3px 5px 6px #ccc;
	-webkit-box-shadow: 3px 3px 5px 6px #ccc;
	box-shadow: 3px 3px 5px 6px #ccc;
}

p, ul {
	font-size: 18px;
	font-weight: normal;
	font-family: 'Abel', sans-serif;
}
ul {
	margin-left: 100px;
}
p {
	margin-left: 15px;
	margin-bottom: 10px;
	text-align: justify;
	line-height: 22px;
}
li {
	margin-bottom: 5px;
}

h2 {
	font-size: 22px;
	font-family: "Trebuchet MS", sans-serif;
	font-weight: bold;
	border-bottom: 1px solid #b6c6ce;
	margin: 10px 0px;
}
h3 {
	font-size: 18px;
	font-family: 'Abel', sans-serif;
	font-weight: bold;
}
#set-1 {
	margin-left: 10px;
	font-size: 30px;
	color: #0099FF;
	font-family: 'Rock Salt', cursive;
	text-shadow: 1px 2px 0 #333333;
	/*-moz-border-radius-bottomright: 50px 25px;
	 -moz-border-radius-bottomleft: 50px 25px;
	 -moz-border-radius-topleft: 50px 25px;
	 -moz-border-radius-topright: 50px 25px;
	 border-bottom-right-radius: 50px 25px;
	 border-bottom-left-radius: 50px 25px;
	 border-top-left-radius: 50px 25px;
	 border-top-right-radius: 50px 25px;
	 background-color: #d5edca;
	 width: 300px;*/
}
#set-2 {
	font-size: 80px;
	color: #333333;
	text-shadow: 3px 3px 0 #babdc8;
	margin-left: 60px;
}
#url {
	color: red;
	text-shadow: 3px 3px #5c1530;
}
