<header class="header">

</header>

<div class="container">
  <md-content ng-repeat="head in header">
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">{{head.name}}</span>
          <span class="md-subhead">{{head.email}}</span>
          <span class="md-subhead">{{head.website}}</span>
        </md-card-title-text>
        <md-card-title-media>
          <div class="md-media-lg card-media"></div>
        </md-card-title-media>
      </md-card-title>
    </md-card>
  </md-content>
      <md-content ng-repeat="sum in summary">
        <md-card>
          <md-card-title>
            <md-card-title-text>
              <span class="md-headline">Summary</span>
              <span class="md-subhead">{{sum.paragraph}}</span>
            </md-card-title-text>
            <md-card-title-media>
              <div class="md-media-lg card-media"></div>
            </md-card-title-media>
          </md-card-title>
        </md-card>
      </md-content>
</div>

    <footer class="footer">
      <div class="container">
        <p><span class="glyphicon glyphicon-heart"></span> from the Yeoman team</p>
      </div>
    </footer>
